.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #faf4f4;
}
.container {
    max-width: 800px;
    margin: auto;
    background: rgb(131, 106, 155) ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    border: thick double #c9afeb;
    color: #592770;
    text-align : center
}
.section {
     margin-bottom: 20px;
        }
.contact-info {
    margin-bottom: 20px;
}
hr {
    width: 50%;
    border: 1px solid black;
}